.item{
    background: #F3F3F3;
    height: 73px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
}
.item p{
    color: #A3A3A3;
    font-size: 11px;
    line-height: 13px;
    margin: 10px;
    margin-top: 6px;
}
.item p span{
    color: black;
    font-weight: 400;
}
.item p a{
    color:#4B51EF;
    font-size: 12px;
    text-decoration: none;
    float: right;
}